
    <div class="container">
        <table class="table table-bordered text-center">
            <tr>
            
                <th>Email Customer</th>
             
              
            </tr>
            @{
                
                    foreach (var item in ViewBag.Role)
                    {
                        if (item.Id == "B")
                        {
                            foreach (var item2 in ViewBag.UR)
                            {
                                if (item2.UserId == "2")
                                {
                                    <td>Email</td>
                                }
                            }
                        }
                    }
               
                }    
            }
            
        </table>
    </div>

