
    <div class="container">
        <table class="table table-bordered text-center">
            <tr>
                <th>Email Customer</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Email</td>
                </tr>
                
            }
            
        </table>
    </div>

